<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umashankar.kiratbroadbanduser">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiratBroadband"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AuthRailWireActivity"
            android:exported="false" />
        <activity
            android:name=".AuthNewCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".AuthOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_home"
            android:theme="@style/Theme.KiratBroadband.NoActionBar" />
        <activity android:name=".getCamera" />
        <activity android:name=".UpiPayment" />
        <activity android:name=".FAQ_AnswerActivity" />
        <activity android:name=".AuthBSNLActivity" />
        <activity
            android:name=".TempCustomer.DocumentCollectionActivity"
            android:exported="true" />
        <activity android:name=".TempCustomer.PersonalDetailsActivity" />
        <activity android:name=".TempCustomer.DashboardTempUserActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ViewAllReportActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HelperClass.MyFirebaseServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities=".provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".TempCustomer.RailWirePaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

    <receiver
        android:name="com.razorpay.RzpTokenReceiver"
        android:exported="true">
        <intent-filter>
            <action android:name="rzp.device_token.share" />
        </intent-filter>
    </receiver>

    <meta-data
        android:name="com.razorpay.ApiKey"
        android:exported="true"
        android:value="rzp_live_0zK5Wp6XB5A8Kj" />

</application>

</manifest>