<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="umashankar.kiratbroadbanduser">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiratBroadband"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.umashankar.kiratbroadbanduser.AuthOptionsActivity"
            android:exported="false" />
        <activity
            android:name="com.umashankar.kiratbroadbanduser.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.umashankar.kiratbroadbanduser.CustomerHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_home"
            android:theme="@style/Theme.KiratBroadband.NoActionBar" />
        <activity android:name="com.umashankar.kiratbroadbanduser.getCamera" />
        <activity android:name="com.umashankar.kiratbroadbanduser.UpiPayment" />
        <activity android:name="com.umashankar.kiratbroadbanduser.FAQ_AnswerActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.LoginActivity" />
        <activity
            android:name="com.umashankar.kiratbroadbanduser.TempCustomer.DocumentCollectionActivity"
            android:exported="true" />
        <activity android:name="com.umashankar.kiratbroadbanduser.TempCustomer.NewCustomerActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.TempCustomer.DashboardTempUserActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.RegistrationActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.HelpActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.ContactUsActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.NotificationActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.ProfileActivity" />
        <activity android:name="com.umashankar.kiratbroadbanduser.ViewAllReportActivity" />
        <activity
            android:name="com.umashankar.kiratbroadbanduser.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.umashankar.kiratbroadbanduser.HelperClass.MyFirebaseServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="umashankar.kiratbroadbanduser.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>